<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h2>Информация о пользователе</h2>

<p th:text="${'Пользователь: ' + user.getName()}">VALUE</p>
<p th:text="${'Пароль: ' + user.getPassword()}">VALUE</p>
<p th:text="${'ID: ' + user.getId()}">VALUE</p>

<div th:each="role : ${user.getRoles()}">
    <p th:text="${role.getName()}"></p>
</div>

<br>
<a th:href="@{/logout}">Выйти</a>

</body>
</html>